$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
$primary: #06BC9B;
$header-nav-color:#eee;
$app-font:"Lato";

// bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/root";

$theme-colors:(
    "primary": $primary,
    "success": $primary
);

